$color-dark: #344A5F;
$color-primary: #2A94D6;
$color-grey: #F0F1F2;
$color-white: #FFFFFF;

$color-blue: #4EB1C8;
$color-red: #fa5c7c;
$color-violet: #727cf5;
$color-violet-opacity: rgba(114, 124, 245, .2);
$color-green: #0acf97;
$color-yellow: #ffbc00;

$color-background-dark: #313a46;
$color-background-grey: #e3e3e3;
$color-background-white: #ffffff;

$color-border-grey: #c4c4c4;

$color-font-primary: #6c757d;
$color-font-secondary: #98a6ad;
$color-font-light-primary: #FFFFFF;
$color-font-light-secondary: #bccee4;