/* You can add global styles to this file, and also import other style files */
@import 'variables';
html, body { 
  height: 100%;
  background-color: $color-background-grey;
}
body { 
  margin: 0; 
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.app-block {
  padding: 1em;
}